h1{
    color: black;
    background-color: bisque;
    font-size: 90px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: capitalize;
    
}